<div class="filter-container">
    <div class="filter-div" *ngFor="let category of categories">
        <button mat-raised-button color="warn" (click)="selectFilter(category.id)">
            {{category.name | uppercase}}
        </button>
    </div>
</div>

<input class="input-style" matInput type="text" name="titleSearch" [(ngModel)]="titleSearched" placeholder="Search for a title...">

<button class="search-btn-style" mat-raised-button color="warn" (click)='searchNotes()'>Search</button>