<!-- <app-first-component></app-first-component>
<app-second-component></app-second-component>
<app-the-component></app-the-component> -->
<!-- <app-tools></app-tools> -->
<!-- <app-filter></app-filter> -->
<!-- 
<p>
    Sample {{text | uppercase}}
</p>
<p>
    The date: {{dateTest | date:"longTime" | lowercase}}
</p>
<p>
    My nr is: {{myValue | addValue: 12}}
</p> -->
<!-- 
<app-note></app-note> -->

<router-outlet></router-outlet>