<body>
    <app-filter (emitSelectedFilter)="receiveCategory($event)" (emitSearchFunction)="receiveTermSearch($event)"></app-filter>
    <div class="home">
        <app-note [selectedCategoryId]="categoryId" [selectedTerm]="termSearched"></app-note>
        <app-tools></app-tools>
    </div>
</body>