<body>
    <div>
        <form class="edit-note-form">
            <h1 style="margin-top: 40px;"> Edit a note</h1>
            <div id="info">
                <label>Current title: {{note.title}}</label><br>
                <label>Current description: {{note.description}}</label><br><br>
            </div>
            <label class="label-style" for="inputNote">Title</label>

            <mat-form-field>
                <input matInput id="inputNote" name="inputNote" [(ngModel)]="note.title" />

            </mat-form-field>

            <label class="label-style" for="inputDescr">Description</label>
            <mat-form-field>
                <textarea matInput id="inputDescr" name="inputDescr" [(ngModel)]="note.description"></textarea>
            </mat-form-field>
        </form>
        <button mat-button (click)="editNote(note)" type="submit">Edit note</button>
    </div>
</body>