body {
    background-color: rgb(243, 215, 178);
}

div {
    align-items: center;
    button {
        background-color: coral;
        text-align: center;
        margin-left: 250px;
    }
    .edit-note-form {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        #info {
            margin-left: 60px;
        }
        .label-style {
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}