<div *ngFor="let note of notes" fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card class="note-class " [style.backgroundColor]="note.color ">
        <mat-card-header class="card-title ">
            {{note.title}}
        </mat-card-header>

        <mat-card-content class="card-description ">
            {{note.description}}
            <!-- <br> {{note.category.name}} -->
        </mat-card-content>
        <mat-card-footer class="card-buttons ">
            <div>
                <button mat-icon-button><mat-icon>arrow_right_alt</mat-icon></button>
                <button mat-icon-button><mat-icon>star_half</mat-icon></button>
                <button mat-icon-button><mat-icon>done_all</mat-icon></button>
            </div>
            <div>
                <button mat-icon-button (click)="editNote(note.id)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="deleteNote(note.id)"><mat-icon>delete</mat-icon></button>
            </div>
        </mat-card-footer>

    </mat-card>
</div>