.note-class {
    max-width: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
    float: left;
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    .card-title {
        flex-shrink: 0;
    }
    .card-description {
        flex-grow: 1;
        overflow: auto;
    }
    .card-buttons {
        display: flex;
        justify-content: space-between;
    }
}