<div class="addNote" style="align-items: center;">
    <h1>Add a note </h1>
    <label>Title</label>
    <form class="add-note-form" autocomplete="off">
        <mat-form-field>
            <!-- <input matInput name="inputNote" id="inputNote" [(ngModel)]="title" placeholder="Enter the title" required minlength="4" /> -->
            <!-- <input matInput name="inputNote" id="inputNote" formControlName="addNote" placeholder="Enter the title" required /> -->
            <input matInput name="inputNote" [(ngModel)]="title" placeholder="Enter title" #inputNote="ngModel" required minlength="4" />
            <div *ngIf="inputNote.invalid && (inputNote.dirty || inputNote.touched)" class="alert">
                <div *ngIf="inputNote.errors?.['required']" class="warning">
                    Title is required.
                </div>
                <div *ngIf="inputNote.errors?.['minlength']" class="warning">
                    Title must be at least 4 characters long.
                </div>
            </div>
        </mat-form-field>
        <br>
        <label>Description</label><br>
        <mat-form-field>
            <textarea matInput name="descr" [(ngModel)]="description" placeholder="Enter description"></textarea>
            <div *ngIf="descr.invalid && (descr.dirty || descr.touched)" class="alert">
                <div *ngIf="descr.errors?.['required']" class="warning">
                    Description is required.
                </div>
                <div *ngIf="descr.errors?.['minlength']" class="warning">
                    Description must be at least 10 characters long.
                </div>
            </div>
        </mat-form-field>

    </form>

    <h4>Categories</h4>
    <mat-form-field appearance="fill">
        <mat-label>Choose category</mat-label>
        <select matNativeControl [(ngModel)]="categoryId" required>
          <option value="toDo">To do</option>
          <option value="doing">Doing</option>
          <option value="done">Done</option>
        </select>
    </mat-form-field>

    <button mat-button color="basic" (click)="AddNote()" [disabled]="checkInputs()" type="submit">Add</button>
</div>