<!-- <p style="text-align: center; margin-top: 30px;" [style.color]='color'>
    The title is in: {{title}}</p> <br>

<p style="color: darkgray;margin-left: 20px;">Type a color in the Add note input and press + to change the color of the title.</p>

<mat-form-field style="margin-left: 20px;">
    <input matInput placeholder="Add Note" #colorInput>
</mat-form-field>

<button mat-icon-button (click)="ButtonClick(colorInput.value)"> <mat-icon>add</mat-icon></button> -->


<mat-card class="add-note-card" routerLink="add-note">
    <button mat-icon-button><mat-icon>add</mat-icon></button>
</mat-card>

<!-- 
<h3 style="text-align: center; margin-top: 50px;">Hello, this is the text that will receive a hypen(-) {{"Trimble Scholarship" | homeworkAdds:"-"}} </h3>
<br><br>
<div>
    <h2>Uppercase strings:</h2>
    <div *ngFor="let element of stringList">
        <p appHighlight="yellow">{{element | uppercase}}</p>
    </div><br>
    <h2>Short dates:</h2>
    <div *ngFor="let date of dateList"> {{date | date:"short"}}</div><br>
    <h2>Odd strings:</h2>
    <div *ngFor="let element of stringList;let i=index; let odd=odd;">
        <p appHighlight="red" *ngIf="odd == true">{{element}}</p>
    </div><br>
    <h2>Even dates:</h2>
    <div *ngFor="let date of dateList;let i=index; let even=even;">
        <p appHighlight="blue" *ngIf="even == true">{{date | date:"short"}}</p>
    </div>

</div> -->