.add-note-card {
    width: 200px;
    height: 200px;
    margin: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

// h2,
// div {
//     margin-left: 20px;
// }